$mainColor: #4267B2;
$greyColor: #F5F5F5;
$defaultFont: helvetica;
$headLineFontSize: 30px;

body {
    padding: 0px;
    margin: 0px;
    background-color: $greyColor;
    font-family: $defaultFont;
}

h1 {
    color: $mainColor;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    margin:auto;
    background-color: white;
}

#headerContainer {
    display: flex;
}

#imageContainer {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

#headerHeadlines {
    display: flex;
    flex-basis: 50%;    
    flex-direction: column;
}

#qualificationsContainer {
    display:flex;
}

#leftContainer {
    border-right: 2px solid $mainColor;
    flex-basis: 100%;
}

#rightContainer {
    border: 2px solid black;
    flex-basis: 100%;
    
}

#skillBox {
    display: flex;
    flex-direction: column;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 3px 0px 0px;
}

.skillSection {
    display: flex;
    margin: 10px 0;
    padding: 10px 0;
}

.skillSectionWrapper {
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgba($color: $mainColor, $alpha: 0.5)
}

.minorHeadline {
    font-weight: bold;
}