$mainColor: #4267B2;
$greyColor: #F5F5F5;
$defaultFont: helvetica;
$headLineFontSize: 30px;

#mainContainer {
    display: flex;
    max-width: 1200px;
    margin:auto;
}

body {
    background-color: $greyColor;
}

