$mainColor: #4267B2;
$greyColor: #F5F5F5;
$defaultFont: helvetica;
$headLineFontSize: 30px;



@mixin applySeparationLine($top, $right, $down, $left) {
    border-style: solid;
    border-width: $top $right $down $left;
    border-color: rgba($color: $mainColor, $alpha: 0.5)
}

body {
    padding: 0px;
    margin: 0px;
    background-color: $greyColor;
    font-family: $defaultFont;
}

h1 {
    color: $mainColor;
    line-height: 0px;
}

h2 {
    color: $mainColor;
}

a {
    text-decoration: none;
    color: $mainColor;
    
}

#mainContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 900px;
    margin:auto;
    background-color: white;
    padding-bottom: 50px;
}

#headerContainer {
    display: flex;
    padding-bottom: 10px;
    @include applySeparationLine(0px, 0px, 2px, 0px);
}

#imageContainer {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

#headerHeadlines {
    display: flex;
    flex-basis: 50%;    
    flex-direction: column;
}

#qualificationsContainer {
    display:flex;
}

#qualificationHeadline {
    margin-left: 10px;
}

#leftContainer {
    flex-basis: 50%;
}

#cvContainer {
    margin-left: 20px;
    flex-basis: 100%;
}

#skillBox {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 10px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 3px 2px 0px;
}

.flag {
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    cursor: pointer;
}

.roundedBorder {
    width: 38px;
    height: 38px;
    border: 2px solid $mainColor;
    border-radius: 50%;
}

.skillSection {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 10px 0;
}


.minorHeadline {
    font-weight: bold;
}

#languageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#descriptionContainer {
    display: flex;
   padding-bottom: 10px;
    @include applySeparationLine(0px, 0px, 2px, 0px)
}

#description {
    flex-basis: 60%;
}

#linksSection {
    display:flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: flex-end;
}

#links {
    display:flex;
    flex-direction: column;
    margin-top: 40px;
}

.descriptionP {
    text-align: justify;
}

.blueBall{
    background-color: $mainColor;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: -12.5px;
}

.timelineSection {
    display: flex;
}

.timelineLeft {
    display:flex;
    align-items: flex-start;
    border-right: 5px solid $mainColor;
}

.timelineRight {
    padding-top: 20px;
    margin-left: 12.5px;
}

.timestamp {
    color: lighten(black, 40);
    margin-top: 3px;
}

.timestampPlaceholder {
    width: 35.6px;
}

#timelineEnd {
    height: 0px;
}

#date {
    margin-left: 15px;
}

#profilePic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid $mainColor;
}

@media only screen and (max-width: 600px) {
    #headerContainer {
        flex-direction: column;
    }

    #descriptionContainer {
        flex-direction: column;
    }
    #linksSection {
        align-items: flex-start;
    }
    #qualificationsContainer {
        flex-direction: column;
    }

    #links {
        margin-top: 5px;
    }

    .timelineDescription {
        max-width: 200px;
        a {
            word-wrap: break-word;
            max-width: 200px;
        }
    }
}
